

.footer-text {
    color: var(--secondary-color);
    text-align: left;
}

.footer-section {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 42px;
}

.footer-text {
    margin: 0;
    padding-left: 42px;
}

.icon-footer {
    position: absolute;
    top: 10px;
}

.footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Tablet */
@media (min-width: 1024px) {
}

/* Desktop */
@media (min-width: 1512px) {
}