.bg-top-page {
    background-image: url(../assets/mobile/about/mobile-about-top-bg.webp);
    background-position: center;
}

.all-more-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 42px 0;
}

.more-button-about {
    background-color: var(--about-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: 4px 12px;
    width: 100%;
    max-width: 800px;
    cursor: pointer;
    position: relative;
}

#support-content {
    display: none;
    max-width: 800px;
}

#support-arrow-icon {
    display: flex;
    align-items: center;
}

#volunteer-arrow-icon {
    display: flex;
    align-items: center;
}

#volunteer-content {
    display: none;
    max-width: 800px;
}

#internship-arrow-icon {
    display: flex;
    align-items: center;
}

#internship-content {
    display: none;
    max-width: 800px;
}

.line-divider {
    margin: 24px 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transition: all 400ms;
}

@media (min-width: 550px) {
    .bg-top-page {
        background-position-y: -50px;
    }
}

/* Tablet */
@media (min-width: 1024px) {
    .bg-top-page {
        background-image: url("../assets/desktop/about/desktop-about-top-bg.webp");
    }

    .paragraph-h1 {
        padding: 0 80px;
    }
}

@media (min-width: 1512px) {
    .bg-top-page {
        background-position-y: -140px;
    }

    .paragraph-h1 {
        padding: 0 150px;
    }

}
