.bg-top-page {
    background-image: url("../assets/mobile/events/mobile-events-bg.webp");
    background-position-y: -20px;
}

.h2-heading {
    font-size: 24px;
}

.all-cards-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-card {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--tertiary-color);
    border-radius: 8px;
    width: 326px;
    height: auto;
    margin-bottom: 24px;
    object-fit: cover;
}

.img-events-card {
    width: 100%;
    height: 100%;
}


.text-and-button-events-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 8px;
}

.button-events {
    color: var(--secondary-color);
    background-color: var(--events-color);
    width: 230px;
    margin-bottom: 24px;
}

@media (min-width: 740px) {
    .bg-top-page {
        background-position-y: -50px;
    }

    .events-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        margin-bottom: 42px;
    }

    .text-and-button-events-card {
        padding: 24px;
    }

    .button-events {
        margin-top: 8px;
    }

    .paragraph-h1 {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-events-card img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 800px) {
    .events-card {
        grid-template-columns: 1fr 2fr;
    }
}

/* Tablet */
@media (min-width: 1024px) {
    .bg-top-page {
        background-image: url("../assets/desktop/events/desktop-events-bg.webp");
        background-position-y: -30px;
    }

    .h2-heading {
        font-size: 28px;
    }

    .events-card {
        max-width: 1050px;
    }

    .all-cards-events {
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1300px) {
    .paragraph-h1 {
        padding: 12px 82px;
    }
}