
body {
    background-color: var(--primary-color);
    margin: 0;
}

.homepage-text {
    color: var(--secondary-color);
    text-align: center;
}

.homepage-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/mobile/homepage/mobile-hp-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    z-index: -1;
}

.hero-bg-blur {
    background-color: #6867CF70;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-heading {
   font-size: 32px;
    font-weight: 500;
    /*width: 336px;*/
}

.hero-text {
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-divider-hero {
    margin: 0;
}

.hero-text, .hero-bg-blur {
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.hero-button {
    margin: 24px 0;
    width: 260px;
}

.section-buttons-explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.h1-heading, .h2-heading {
    color: var(--secondary-color);
}

.h1-heading {
    width: 360px;
    margin-top: 24px;
}

.signup-text {
    padding: 0 18px;
}

.home-button-categories {
    width: 326px;
    height: 106px;
    border-radius: 8px;
    border: 4px solid var(--tertiary-color);
    box-shadow: 2px 6px var(--tertiary-color);
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    color: var(--secondary-color);
    font-family: "Saira", sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 0 24px;
}

.home-button-categories:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0;
}

.home-button-exhibitions {
    background-color: var(--exhibitions-color);
}

.home-button-events {
    background-color: var(--events-color);
}

.home-button-plan-visit {
    background-color: var(--plan-visit-color);
}

.home-button-about {
    background-color: var(--about-color);
}



@media (min-width: 626px) {
    .homepage-hero {
        background-image: url("../assets/desktop/homepage/desktop-hp-hero.jpg");
        height: 680px;
    }

    .homepage-hero-img {
        height: auto;
        background-size: 100%;
    }

    .h1-heading {
        width: 100%;
    }

}

@media (min-width: 740px) {
    .flex-home-buttons {
        display: flex;
        gap: 24px;
    }

    .hero-heading {
        font-size: 38px;
    }

    .hero-text {
        width: auto;
        padding: 0 42px;
    }

}



/* Tablet */
@media (min-width: 1024px) {
}

/* Desktop */
@media (min-width: 1512px) {
}