body {
    background-color: var(--primary-color);
    margin: 0;
}

.hero-heading {
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    font-size: 32px;
}

.homepage-text {
    color: var(--secondary-color);
    text-align: center;
}

.homepage-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/mobile/homepage/mobile-homepage-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    z-index: -1;
}

.hero-bg-blur {
    background-color: #6867CF90;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-heading {
    font-size: 32px;
    font-weight: 500;
}

.hero-text {
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-divider-hero {
    margin: 0;
}

.hero-text, .hero-bg-blur {
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.hero-button {
    margin: 24px 0;
    width: 240px;
    animation-name: floating-button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

@keyframes floating-button {
    from { transform: translate(0, 0px); }
    65% { transform: translate(0, 6px); }
    to { transform: translate(0, -0px); }
}

.fa-shuttle-space {
    padding-left: 18px;
}

.section-buttons-explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.h1-heading, .h2-heading {
    color: var(--secondary-color);
}

.h1-heading {
    font-family: "Saira", sans-serif;
    font-size: 28px;
    letter-spacing: 0;
    font-weight: 400;
    width: 360px;
    margin-top: 24px;
}

.signup-text {
    padding: 0 18px;
}

.home-button-categories {
    width: 326px;
    height: 106px;
    border-radius: 8px;
    border: 4px solid var(--tertiary-color);
    box-shadow: 2px 6px var(--tertiary-color);
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    color: var(--secondary-color);
    font-family: "Saira", sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 0 24px;
}

.home-button-categories:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0;
    transition: 1s;
}

.home-button-exhibitions {
    background-color: var(--exhibitions-color);
}

.home-button-events {
    background-color: var(--events-color);
}

.home-button-plan-visit {
    background-color: var(--plan-visit-color);
}

.home-button-about {
    background-color: var(--about-color);
}

@media (min-width: 626px) {
    .homepage-hero {
        background-image: url("../assets/desktop/homepage/desktop-homepage-bg.webp");
        height: 680px;
    }

    .homepage-hero-img {
        height: auto;
        background-size: 100%;
    }

    .hero-text {
        width: auto;
        padding: 0 42px;
    }

    .hero-heading {
      font-size: 38px;
        width: 500px;
        margin-bottom: 24px;
    }

    .h1-heading {
        width: 100%;
        margin-top: 42px;
    }

    .hero-p {
        font-size: 20px;
        font-weight: 400;
    }

    .newsletter-signup {
      margin: 42px 0 62px 0;
    }

    .section-buttons-explore {
        margin-bottom: 62px;
    }
}

@media (min-width: 740px) {
    .flex-home-buttons {
        display: flex;
        gap: 24px;
    }

    .hero-heading {
        font-size: 40px;
        width: auto;
    }

    .hero-p {
        font-size: 24px;
    }

    .hero-text {
        padding: 0 10%;
    }
}

/* Tablet */
@media (min-width: 1024px) {

    .hero-heading {
        font-size: 68px;
    }

    .hero-p {
        padding: 0 20%;
    }

    .flex-home-buttons {
        gap: 82px;
    }

    .home-button-exhibitions, .home-button-events {
        margin-bottom: 42px;
    }

    .h1-heading {
        margin-bottom: 24px;
        font-size: 34px;
    }

    .home-button-categories {
        width: 400px;
        height: 146px;
        box-shadow: 4px 8px var(--tertiary-color);
        font-size: 28px;
        font-weight: 300;
        padding: 0 24px;
    }

    .hero-button {
        font-size: 24px;
        width: 280px;
        height: 50px;
        font-weight: 400;
    }
}

/* Desktop */
@media (min-width: 1512px) {

    .homepage-hero {
        background-position-y: -200px;
    }

    .hero-heading {
        font-size: 80px;
    }

    .h1-heading {
        font-size: 38px;
    }
}