:root {
    --primary-color: #6867CF;
    --secondary-color: #FDFDFD;
    --tertiary-color: #41378D;
    --exhibitions-color: #03A4FF;
    --events-color: #DC47BD;
    --plan-visit-color: #FF527F;
    --about-color: #DF9506;
}

/*TYPOGRAPHY*/

.h1-heading {

}

/*BUTTONS*/

.button {

}

/*LINE DIVIDERS*/

.line-divider-mobile {

}

/*HEADER*/


/*FOOTER*/